- if notification_setting
  .js-notification-dropdown.notification-dropdown.project-action-button.dropdown.inline
    = form_for notification_setting, remote: true, html: { class: "inline notification-form" } do |f|
      = hidden_setting_source_input(notification_setting)
      = f.hidden_field :level, class: "notification_setting_level"
      .js-notification-toggle-btns
        %div{ class: ("btn-group" if notification_setting.custom?) }
          - if notification_setting.custom?
            %button.dropdown-new.btn.btn-default.has-tooltip.notifications-btn#notifications-button{ type: "button", title: "通知设置", "aria-label" => "通知设置: #{notification_title(notification_setting.level)}", data: { container: "body", toggle: "modal", target: "#" + notifications_menu_identifier("modal", notification_setting), display: 'static' } }
              = icon("bell", class: "js-notification-loading")
              = notification_title(notification_setting.level)
            %button.btn.dropdown-toggle{ data: { toggle: "dropdown", target: notifications_menu_identifier("dropdown", notification_setting), flip: "false" } }
              = icon('caret-down')
              .sr-only Toggle dropdown
          - else
            %button.dropdown-new.btn.btn-default.has-tooltip.notifications-btn#notifications-button{ type: "button", title: "通知设置", "aria-label" => "通知设置: #{notification_title(notification_setting.level)}", data: { container: "body", toggle: "dropdown", target: notifications_menu_identifier("dropdown", notification_setting), flip: "false" } }
              = icon("bell", class: "js-notification-loading")
              = notification_title(notification_setting.level)
              = icon("caret-down")

          = render "shared/notifications/notification_dropdown", notification_setting: notification_setting

          = content_for :scripts_body do
            = render "shared/notifications/custom_notifications", notification_setting: notification_setting
